@keyframes animation-182 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-182 {
  animation: animation-182 0.3s ease-out 0s normal forwards;
}
@keyframes animation-184 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 1;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 2;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-184 {
  animation: animation-184 0.3s ease-out 0s normal forwards;
}
@keyframes animation-195 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 2;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 3;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-195 {
  animation: animation-195 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1106 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 3;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 4;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-1106 {
  animation: animation-1106 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1117 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 4;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 5;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-1117 {
  animation: animation-1117 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1128 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 5;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 6;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-1128 {
  animation: animation-1128 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1139 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 6;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 7;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-1139 {
  animation: animation-1139 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1150 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 7;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 8;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-1150 {
  animation: animation-1150 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1161 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 8;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-1161 {
  animation: animation-1161 0.3s ease-out 0s normal forwards;
}
@keyframes animation-180 {
  from {
    width: 82.42%;
    height: 82.82%;
    top: 6.23%;
    left: 8.68%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
  to {
    width: 73.39%;
    height: 79.64%;
    top: 9.41%;
    left: 4.81%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
}
.animationClass-180 {
  animation: animation-180 0.3s ease-out 0s normal forwards;
}
@keyframes animation-185 {
  from {
    width: 73.39%;
    height: 79.64%;
    top: 9.41%;
    left: 4.81%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
  to {
    width: 68.7%;
    height: 74.94%;
    top: 9.41%;
    left: 7.15%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
}
.animationClass-185 {
  animation: animation-185 0.3s ease-out 0s normal forwards;
}
@keyframes animation-196 {
  from {
    width: 68.7%;
    height: 74.94%;
    top: 9.41%;
    left: 7.15%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
  to {
    width: 73.39%;
    height: 79.64%;
    top: 9.41%;
    left: 11.25%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
}
.animationClass-196 {
  animation: animation-196 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1107 {
  from {
    width: 73.39%;
    height: 79.64%;
    top: 9.41%;
    left: 11.25%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 87.4%;
    top: 6.23%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
}
.animationClass-1107 {
  animation: animation-1107 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1118 {
  from {
    width: 100%;
    height: 87.4%;
    top: 6.23%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
  to {
    width: 86.28%;
    height: 93.64%;
    top: 6.36%;
    left: 6.92%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
}
.animationClass-1118 {
  animation: animation-1118 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1129 {
  from {
    width: 86.28%;
    height: 93.64%;
    top: 6.36%;
    left: 6.92%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
  to {
    width: 95.78%;
    height: 87.53%;
    top: 6.36%;
    left: 2.11%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
}
.animationClass-1129 {
  animation: animation-1129 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1140 {
  from {
    width: 95.78%;
    height: 87.53%;
    top: 6.36%;
    left: 2.11%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
  to {
    width: 80.07%;
    height: 91.09%;
    top: 1.27%;
    left: 11.02%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
}
.animationClass-1140 {
  animation: animation-1140 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1151 {
  from {
    width: 80.07%;
    height: 91.09%;
    top: 1.27%;
    left: 11.02%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
  to {
    width: 86.28%;
    height: 93.64%;
    top: 0%;
    left: 4.81%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
}
.animationClass-1151 {
  animation: animation-1151 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1162 {
  from {
    width: 86.28%;
    height: 93.64%;
    top: 0%;
    left: 4.81%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
  to {
    width: 82.42%;
    height: 82.82%;
    top: 6.23%;
    left: 8.68%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
  }
}
.animationClass-1162 {
  animation: animation-1162 0.3s ease-out 0s normal forwards;
}
@keyframes animation-null187 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-null187 {
  animation: animation-null187 0.3s ease-out 0s normal forwards;
}
@keyframes animationBg-187 {
  from {
    background-image: var(--image-0);
    opacity: 1;
  }
  to {
    background-image: var(--image-0);
    opacity: 1;
  }
}
.bgClass-187 {
  animation: animationBg-187 0.3s ease-out 0s normal forwards;
}
@keyframes animation-187 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.animationClass-187 {
  animation: animation-187 0.3s ease-out 0s normal forwards;
}
@keyframes nullClass-187 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.nullAnimation-187 {
  animation: nullClass-187 0.3s ease-out 0s normal forwards;
}

@keyframes nullClass-197 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.nullAnimation-197 {
  animation: nullClass-197 0.3s ease-out 0s normal forwards;
}
@keyframes animation-null197 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-null197 {
  animation: animation-null197 0.3s ease-out 0s normal forwards;
}
@keyframes animationBg-197 {
  from {
    background-image: var(--image-1);
    opacity: 1;
  }
  to {
    background-image: var(--image-1);
    opacity: 1;
  }
}
.bgClass-197 {
  animation: animationBg-197 0.3s ease-out 0s normal forwards;
}
@keyframes animation-197 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.animationClass-197 {
  animation: animation-197 0.3s ease-out 0s normal forwards;
}
@keyframes nullClass-1112 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.nullAnimation-1112 {
  animation: nullClass-1112 0.3s ease-out 0s normal forwards;
}
@keyframes animation-null1112 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-null1112 {
  animation: animation-null1112 0.3s ease-out 0s normal forwards;
}
@keyframes animationBg-1112 {
  from {
    background-image: var(--image-2);
    opacity: 1;
  }
  to {
    background-image: var(--image-2);
    opacity: 1;
  }
}
.bgClass-1112 {
  animation: animationBg-1112 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1112 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.animationClass-1112 {
  animation: animation-1112 0.3s ease-out 0s normal forwards;
}
@keyframes nullClass-1124 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.nullAnimation-1124 {
  animation: nullClass-1124 0.3s ease-out 0s normal forwards;
}
@keyframes animation-null1124 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-null1124 {
  animation: animation-null1124 0.3s ease-out 0s normal forwards;
}
@keyframes animationBg-1124 {
  from {
    background-image: var(--image-3);
    opacity: 1;
  }
  to {
    background-image: var(--image-3);
    opacity: 1;
  }
}
.bgClass-1124 {
  animation: animationBg-1124 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1124 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.animationClass-1124 {
  animation: animation-1124 0.3s ease-out 0s normal forwards;
}
@keyframes nullClass-1133 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.nullAnimation-1133 {
  animation: nullClass-1133 0.3s ease-out 0s normal forwards;
}
@keyframes animation-null1133 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-null1133 {
  animation: animation-null1133 0.3s ease-out 0s normal forwards;
}
@keyframes animationBg-1133 {
  from {
    background-image: var(--image-4);
    opacity: 1;
  }
  to {
    background-image: var(--image-4);
    opacity: 1;
  }
}
.bgClass-1133 {
  animation: animationBg-1133 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1133 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.animationClass-1133 {
  animation: animation-1133 0.3s ease-out 0s normal forwards;
}
@keyframes nullClass-1149 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.nullAnimation-1149 {
  animation: nullClass-1149 0.3s ease-out 0s normal forwards;
}
@keyframes animation-null1149 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-null1149 {
  animation: animation-null1149 0.3s ease-out 0s normal forwards;
}
@keyframes animationBg-1149 {
  from {
    background-image: var(--image-5);
    opacity: 1;
  }
  to {
    background-image: var(--image-5);
    opacity: 1;
  }
}
.bgClass-1149 {
  animation: animationBg-1149 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1149 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.animationClass-1149 {
  animation: animation-1149 0.3s ease-out 0s normal forwards;
}
@keyframes nullClass-1158 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.nullAnimation-1158 {
  animation: nullClass-1158 0.3s ease-out 0s normal forwards;
}
@keyframes animation-null1158 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-null1158 {
  animation: animation-null1158 0.3s ease-out 0s normal forwards;
}
@keyframes animationBg-1158 {
  from {
    background-image: var(--image-6);
    opacity: 1;
  }
  to {
    background-image: var(--image-6);
    opacity: 1;
  }
}
.bgClass-1158 {
  animation: animationBg-1158 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1158 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.animationClass-1158 {
  animation: animation-1158 0.3s ease-out 0s normal forwards;
}
@keyframes nullClass-1165 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.nullAnimation-1165 {
  animation: nullClass-1165 0.3s ease-out 0s normal forwards;
}
@keyframes animation-null1165 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-null1165 {
  animation: animation-null1165 0.3s ease-out 0s normal forwards;
}
@keyframes animationBg-1165 {
  from {
    background-image: var(--image-7);
    opacity: 1;
  }
  to {
    background-image: var(--image-7);
    opacity: 1;
  }
}
.bgClass-1165 {
  animation: animationBg-1165 0.3s ease-out 0s normal forwards;
}
@keyframes animation-1165 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.animationClass-1165 {
  animation: animation-1165 0.3s ease-out 0s normal forwards;
}
@keyframes animation-178 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.animationClass-178 {
  animation: animation-178 0.3s ease-out 0s normal forwards;
}
@keyframes nullClass-178 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.nullAnimation-178 {
  animation: nullClass-178 0.3s ease-out 0s normal forwards;
}
@keyframes animation-null178 {
  from {
    opacity: 0;
    z-index: -10;
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 1;
    z-index: 0;
    transform: rotate(0deg);
    overflow: hidden;
  }
}
.animationClass-null178 {
  animation: animation-null178 0.3s ease-out 0s normal forwards;
}
@keyframes animationBg-178 {
  from {
    background-image: var(--image-8);
    opacity: 1;
  }
  to {
    background-image: var(--image-8);
    opacity: 1;
  }
}
.bgClass-178 {
  animation: animationBg-178 0.3s ease-out 0s normal forwards;
}
